@import '../../style/colors.less';

.DashboardView {
  ul {
    list-style-type: none;
    padding: 0;
    .inlineImage {
      margin-right: 0.5em;
    }
  }
  .plushieInfo {
    .split {
      display: flex;
      flex-wrap: wrap;
      .plushie {
        height: 10.5em;
        margin-right: 1em;
      }
      & > div {
        flex: 1 0 15em;
      }
    }
    .idDisplay {
      margin-top: 0;
      font-weight: bold;
      text-align: center;
    }
  }
  .datasetTable {
    margin: 0 0 1em auto;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      font-weight: initial;
      height: 11em;
      white-space: nowrap;
      vertical-align: bottom;
      & > div {
        transform: translate(27px, -8.5px) rotate(315deg);
        width: 2.5em;
        & > div {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          border-bottom: 1px solid @separatorColor;
        }
      }
      &.labelHeader > div {
        transform: translate(126px, -8.5px) rotate(315deg);
      }
      &.statusHeader > div {
        transform: translate(58px, -8.5px) rotate(315deg);
      }
    }
    td {
      border-right: 1px solid @separatorColor;
      &.datasetLabel {
        white-space: nowrap;
      }
      &.status {
        width: 64px;
        line-height: 0.85em;
      }
      &.explore {
        border-right: none;
      }
      text-align: center;
      padding: 0.25em;
    }
  }
}
.scrollHint {
  display: none;
  position: absolute;
  left: 1em;
  color: @separatorColor;
}
@media(max-width:37em) {
  .scrollHint {
    display: block;
  }
}
