<p>Feel free to take the survey multiple times, if you wish.</p>

<h3>Terminology</h3>
<p>Throughout each survey, you will see
<span class="inspectable">terminology</span> highlighted in red. We aren't sold
on the words that we're using—we would appreciate feedback here as well. Click
on a term for its definition, and please let us know if there is a different
word that you would be more likely to use.</p>
<div class="JTM">
  <span class="jtmInspectionCount">0</span> terms inspected<br/>
  <span class="jtmSuggestionCount">0</span> alternate terms suggested
</div>

<h3>Dataset Descriptions</h3>
<div class="dasList"></div>

<div class="DAS button">
  <a></a>
  <div class="label">Describe a dataset</div>
</div>

<h3>Alternative Perspectives</h3>
<p class="emptyETS"><small>Surveys will appear here for each dataset that you describe</small><p>
<div class="etsList"></div>

<h3>Thank you for helping pilot this study!</h3>

<div class="conferenceOnly">
  <h3>How to redeem your responses for swag</h3>

  <p>To redeem your responses for swag, show this screen to someone at the
    University of Arizona table after completing at least:</p>
  <ul>
    <li>One dataset description</li>
    <li>One alternative perspective</li>
  </ul>

  <p>Your random ID is:</p>
  <p class="idDisplay"></p>
</div>
