<div class="plushieInfo">
  <div class="split">
    <img src="img/plushies.jpg" class="plushie"/>
    <div>
      <p>While supplies last, show this screen <span class="directions"></span> <strong>after completing at least</strong>:</p>
      <ul>
        <li><img class="inlineImage" src="img/describe.svg"/>One dataset description</li>
        <li><img class="inlineImage" src="img/exploration.svg"/>One alternate perspective exploration</li>
      </ul>
      <p>Your random ID is:</p>
    </div>
  </div>
  <p class="idDisplay"></p>
</div>

<h3>Your progress</h3>
<ul>
  <li><img class="inlineImage" src="img/describe.svg"/><span class="datasetsCount">0 datasets described</span></li>
  <li><img class="inlineImage" src="img/exploration.svg"/><span class="alternateCount">0 alternate perspectives explored</span></li>
  <li><img class="inlineImage" src="img/terminology.svg"/><span class="terminologyCount">0 alternate terms and definitions suggested</span></li>
</ul>

<h3 class="thankYou">Thank you for participating!</h3>

<table class="yourResponseTable">
  <thead>
    <th><div><div></div></div></th>
    <th><div><div>Dataset</div></div></th>
    <th><div><div>Status</div></div></th>
    <th><div><div><span class="inspectable">Tabular</span> explorations</div></div></th>
    <th><div><div><span class="inspectable">Network</span> / <span class="inspectable">Hierarchy</span> explorations</div></div></th>
    <th><div><div><span class="inspectable">Spatial</span> / <span class="inspectable">Temporal</span> explorations</div></div></th>
    <th><div><div><span class="inspectable">Grouped</span> explorations</div></div></th>
    <th><div><div><span class="inspectable">Textual</span> explorations</div></div></th>
    <th><div><div><span class="inspectable">Media</span> explorations</div></div></th>
  </thead>
  <tbody></tbody>
</table>

<div class="DAS imgAndLabel button" id="describeNewButton">
  <a><img src="img/describe.svg"/></a>
  <div class="label">Describe a new dataset</div>
</div>

<p>Feel free to take each survey component as many times as you wish.</p>
