@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:600|Titillium+Web&display=swap:400,900');
@bodyFontFamily: 'Titillium Web', Arial, serif;
@bodyFontWeight: 400;
@strongFontWeight: 900;
@headerFontFamily: 'Titillium Web', Arial, sans-serif;
@headerFontWeight: 600;
@fixedFontFamily: 'Source Code Pro', Courier, monospace;
@fixedFontWeight: 600;
