@import './fonts.less';
@import './colors.less';
@import './ui.less';
@import './scrollbars.less';

html, body {
  margin: 0;
  padding: 0;
  font-family: @bodyFontFamily;
  font-weight: @bodyFontWeight;
}
body {
  width: 100%;
  height: 100vh;
  background: @backgroundColor;
  color: @textColor;

  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headerFontFamily;
  font-weight: @headerFontWeight;
  &.invalid {
    box-shadow: 0 0 0 5px @errorColor;
  }
}
strong {
  font-weight: @strongFontWeight;
}

details {
  margin-bottom: 1em;
  summary {
    white-space: nowrap;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    background: @interactableGradient;
    cursor: pointer;
    border-radius: @borderRadius;
    border: 1px solid @shadowColor;
    padding: 0.5em @buttonTextPadding;
    &:hover {
      background: @interactableHoverGradient;
    }
    &:active {
      background: @interactableActiveGradient;
    }
  }
  &[open] summary {
    background: @selectedButtonGradient;
    color: @invertedTextColor;
    &:hover {
      background: @selectedButtonHoverGradient;
    }
    &:active {
      background: @selectedButtonActiveGradient;
    }
  }
  & > div {
    position: relative;
    margin-top: 1em;
  }
}

.pageSlice {
  flex-grow: 1;
  width: 50%;
  max-width: 45em;
  overflow: auto;
  padding: 1em;
}

.separator {
  width: 1px;
  height: 100%;
  background: @separatorColor;
}

@media(max-width:@mobileCutoff) {
  .pageSlice.unfocused {
    flex-grow: 0;
    width: 3em;
    .wrapper {
      transform-origin: top left;
      transform: rotate(90deg) translate(0, -100%);
      display: flex;
    }
    details {
      margin-bottom: 0;
      margin-right: 1em;
      & > div {
        display: none;
      }
    }
  }
}

.field {
  position: relative;
  margin: 1em;
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 1em;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  .button {
    margin: 0 0.5em;
  }
}

.privacyLogo {
  width: 1.25em;
  height: 1.25em;
  pointer-events: none;
  filter: @separatorImageFilter;
}

input + .privacyLogo {
  position: absolute;
  right: 0.5em;
  top: 0.1em;
}
textarea + .privacyLogo {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.inspectable {
  color: @inspectableColor;
  font-weight: @strongFontWeight;
  cursor: help;
}
.selected.button .inspectable {
  color: @invertedInspectableColor;
}
