<h3>Contact email</h3>
<p>This email address will never be shared with anyone beyond our research team,
and we will delete all email addresses at the conclusion of our study.</p>
<div class="field">
  <input class="private" type="email" placeholder="Email address" data-key="email" id="email"/>
</div>

<h3>Notification settings</h3>
<div class="field">
  <input class="private" type="checkbox" data-key="notifyWhenPublic" data-checked-value="OK" id="notifyWhenPublic"/>
  <label for="notifyWhenPublic">Notify me when my responses are made publicly available</label>
</div>
<div class="field">
  <input class="private" type="checkbox" data-key="notifyStudyUpdates" data-checked-value="OK" id="notifyStudyUpdates"/>
  <label for="notifyStudyUpdates">Send me updates about the study progress, including when new surveys are available, or when papers are published</label>
</div>
<div class="field">
  <input class="private" type="checkbox" data-key="forwardResearcherContactInfo" data-checked-value="OK" id="forwardResearcherContactInfo"/>
  <label for="forwardResearcherContactInfo">Forward contact information to me if an external researcher wants to know more about my anonymous responses</label>
</div>

<h3>How did you hear about this survey?</h3>
<div class="field">
  <input class="private" type="text" placeholder="(optional)" data-key="context" id="context"/>
</div>

<div class="buttonContainer">
  <div class="submit button"><a></a><span class="label">Submit</span></div>
</div>
