<h3>Contact email</h3>
<p>This email address will never be shared with anyone beyond our research team,
and we will delete all email addresses at the conclusion of our study.</p>
<input class="private" type="email" placeholder="Email address" data-key="email" id="email"/>

<h3>Notification settings</h3>
<div class="field">
  <input type="checkbox" data-key="notifyWhenPublic" id="notifyWhenPublic"/>
  <label for="notifyWhenPublic">Notify me when my responses are made publicly available</label>
</div>
<div class="field">
  <input type="checkbox" data-key="notifyWhenPublic" id="notifyWhenPublic"/>
  <label for="notifyWhenPublic">Contact me when more surveys are available</label>
</div>
<div class="field">
  <input type="checkbox" data-key="notifyWhenPublic" id="notifyWhenPublic"/>
  <label for="notifyWhenPublic">Forward contact information to me if an external researcher wants to know more about my anonymous responses</label>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Submit</span></div>
</div>
