<h3>Thank you!</h3>
<p>You have already re-imagined your <span class="datasetLabel"></span> data as <span class="targetType inspectable"></span>
  at least once before. You are welcome to continue as long as this exercise is useful to you&mdash;we really appreciate
  your dedication&mdash;however, please understand that seeing this screen means that you have already gone far above
  and beyond anything we were hoping for.</p>

<p>If you wish to continue, try to think about your data as a <strong>different</strong> form of <span class="targetType"></span> data, that
  you have not yet considered. We are looking for creative answers!</p>

<p>If nothing comes to mind, it may be worth considering whether you can think of different answers to the following:</p>
<div class="creativeProdding"></div>

<p>If needed, feel free to assume the existence of additional, hypothetical data or <span class="inspectable">metadata</span>, that you may not have already collected, or that it may not be possible to collect.</p>

<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
