<h3>Exploring <span class="targetType"></span> re-interpretation</h3>
<p>You have indicated that you've already thought of <span class="datasetLabel"></span> data as <span class="targetType"></span>
  at least once before.</p>

<p>At this stage, please try to think about your data as <span class="targetType"></span> in a <em>different</em> sense, that
  you have not yet considered. We're looking for creative answers!</p>

<p>If nothing comes to mind, it may be worth considering whether you can think of different answers to the following:</p>
<div class="creativeProdding"></div>

<p>If needed, feel free to assume the existence of additional, hypothetical data or <span class="inspectable">metadata</span>, that you may not have already collected, or that it may not be possible to collect.</p>

<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
