<ul>
  <li>Could <span class="inspectable">clusters</span> be created, based on any <span class="inspectable">quantitative</span> attributes in the data?</li>
  <li>Could <span class="inspectable">items</span> in the data be organized into <span class="inspectable">sets</span>, based on a <span class="inspectable">categorical</span> attribute of the data?</li>
  <li class="showIfPriorSpatial">Could the <span class="inspectable">spatial</span> aspect of the data be broken into meaningful <span class="inspectable">partitions</span>?</li>
</ul>
