<ul>
  <li>What could the <span class="inspectable">nodes</span> represent?</li>
  <li>What could the <span class="inspectable">edges</span> represent?</li>
  <li>Could <span class="inspectable">edges</span> have <span class="inspectable">direction</span>? What would it mean?</li>
  <li>Consider possible <span class="inspectable">network</span> shapes: do <span class="inspectable">cycles</span> exist, or could it be a <span class="inspectable">hierarchy</span>?</li>
  <li><span class="inspectable">Edges</span> often have a special "weight" <span class="inspectable">attribute</span>. Could <span class="inspectable">edges</span> in your <span class="inspectable">network</span> be weighted? How many weights could they have?</li>
  <li>Consider the role of <span class="inspectable">categorical</span> values. Could they be stored as <span class="inspectable">attributes</span> of nodes or edges?</li>
  <li>Instead, could different <span class="inspectable">categorical</span> values imply different <span class="inspectable">node</span> or <span class="inspectable">edge</span> <span class="inspectable">classes</span>?</li>
</ul>
