<h3>Exploring <span class="targetType"></span> interpretation</h3>
<p>You have indicated that you never really think of <span class="datasetLabel"></span> data as <span class="targetType"></span>.</p>

<p>At this stage, please try to imagine what it would look like if you had to think of the data this way, even if it's a stretch of the imagination. If the data were forced to be <span class="targetType"></span>, what shape would it assume? Creative answers are welcome!</p>

<p>If nothing comes to mind, it may be worth considering the following:</p>
<div class="creativeProdding"></div>

<p>If needed, feel free to assume the existence of additional, hypothetical data or <span class="inspectable">metadata</span>, that you may not have already collected, or that it may not be possible to collect.</p>

<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
