<ul>
  <li>What could the <span class="inspectable">rows</span> represent?</li>
  <li>What could the <span class="inspectable">columns</span> represent?</li>
  <li>Could there be more than one table? How could tables be related?</li>
  <li>Consider the role of <span class="inspectable">categorical</span> values. Could they be stored in columns?</li>
  <li>Instead, could different <span class="inspectable">categorical</span> values imply different or new tables? Relationships between tables?</li>
</ul>
