<ul>
  <li>Is there any <span class="inspectable">textual</span> <span class="inspectable">metadata</span> that was, or could be associated with the data, in the context of where it was originally collected?</li>
  <li>Could text be automatically (or manually) generated to describe the dataset?</li>
  <li>What sort of documents do you plan to write or publish about the dataset?</li>
  <li>Are there any rules inherent in the dataset, that could be described with textual codes and a <span class="inspectable">formal language</span>?</li>
</ul>
