<h1>About this dataset</h1>
<p>This is an interactive summary of the results of a survey that was deployed as part of a study into
  <a href="https://osf.io/s2wmp/?view_only=f3dfb404973d4d8fbc9818f76c4a933e">democratizing non-tabular data
  abstractions</a>. With this exception of this Overview panel, responses are presented in the same context
  that participants saw each question.</p>

<h3>Filtering</h3>
<p>Click on any text or example dataset to filter to just that response; click again or use the Active Filters
  tab to the right to remove filters. To exclude or include specific values, use the provided checkboxes:</p>
<img style="height:4.25em" src="img/checkboxIntro.png"/>
<!--p>Note that, as you apply specific filters, the URL will change to adapt to the current filter state; you can
  use this feature to refer to specific responses.</p-->

<h3>Raw Responses</h3>
<p>For custom analysis, you can download the raw data as newline-delimited JSON:</p>
<ul>
  <li><a href="/data/das.ndjson" download>Initial data descriptions</a></li>
  <li><a href="/data/ets.ndjson" download>Alternative explorations</a></li>
</ul>

<hr/>

<h3>Your responses</h3>
<table class="yourResponseTable">
  <thead>
    <th><div><div></div></div></th>
    <th><div><div>Status</div></div></th>
    <th><div><div>Tabular explorations</div></div></th>
    <th><div><div>Network / Hierarchy explorations</div></div></th>
    <th><div><div>Spatial / Temporal explorations</div></div></th>
    <th><div><div>Grouped explorations</div></div></th>
    <th><div><div>Textual explorations</div></div></th>
    <th><div><div>Media explorations</div></div></th>
  </thead>
  <tbody></tbody>
</table>
<div class="noResponses" style="display:none">You have not submitted any responses to this survey (from this browser)</div>
<div class="allFiltered" style="display:none">All of your responses are hidden by the current Active Filters</div>

<hr/>

<h3>Survey Version</h3>
<p>Preliminary pilots of the survey (v0.1.0 and v0.1.1) were conducted at the University of Arizona. In addition to the
  University of Arizona campus community, v1.0.0 was deployed at the 2019 IEEE VIS and Supercomputing conferences.</p>
<div class="field">
  <div class="likert" data-key="surveyVersion" data-likert="0.1.0,0.1.1,1.0.0"></div>
</div>

<hr/>

<h3>Questionable responses</h3>
<p>We have manually identified responses where participants do not appear to be
contributing meaningful data, for reasons such as errors in the interface on
their device, or spam responses. You can filter these here:</p>
<div class="field">
  <input type="checkbox" data-key="isJunk" data-checked-value="True" id="isJunk" />
  <label for="isJunk">Questionable responses</label>
</div>

<div class="timestamps"></div>
<div class="durations"></div>
