<h3>Please critique this survey!</h3>
<p>As you fill this survey out, you might notice that some of the categories don't quite fit. That's exactly what we want to study, so please tell us about the ways in which the survey itself is getting in your way. There are three ways to do this:</p>

<h4 class="inspectable">Terminology</h4>
<p>Throughout each survey, you will see <span
class="inspectable">terminology</span> highlighted in red. Double-click or double-tap on a term for
its definition.</p>
<p>Please feel free to suggest alternative words that you would be more likely
to use; some of them are chosen deliberately to encourage feedback.</p>

<h4>Comment fields</h4>
<p>If we ask questions that only slightly fit your perspective&mdash;but they still slightly fit&mdash;please answer them to the best of your ability, and critique where the survey went wrong in the comments sections. Is there a better way that we could have worded the questions? Could we have organized it differently?</p>

<h4>Outright rebellion</h4>
<p>If, for any reason, you wish to skip a section, click the <img src="img/protest.svg" class="inlineImage"/> protest button, to convert the section to a single comment field to help us know why you're skipping it. (Go ahead and skip this one to continue)</p>
<div class="buttonContainer">
  <div class="imgAndLabel button" id="firstProtestButton">
    <a><img src="img/protest.svg"/></a>
    <span class="label">Skip this section</span>
  </div>
</div>
