<p class="introText">Please answer the following in terms of how <strong>you</strong> would interpret the dataset as <span class="inspectable">media</span>&mdash;not necessarily how it would be stored in a computer.</p>

<h3>Color</h3>
<div class="field">
  <p>How many <span class="inspectable">color channels</span> are there?</p>
  <div class="likert" data-key="colorChannelCount" id="colorChannelCount" data-likert="0,1,2,3,&ge;4"></div>
</div>

<h3>Which of the following would you expect to exist in the dataset?</h3>
<div class="field">
  <input type="checkbox" data-key="mediaDetails" data-checked-value="RasterImages" id="mediaDetailsRasterImages" />
  <label for="mediaDetailsRasterImages"><span class="inspectable">Raster images</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="mediaDetails" data-checked-value="VectorImages" id="mediaDetailsVectorImages" />
  <label for="mediaDetailsVectorImages"><span class="inspectable">Vector images</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="mediaDetails" data-checked-value="ImageSequences" id="mediaDetailsImageSequences" />
  <label for="mediaDetailsImageSequences"><span class="inspectable">Image</span> sequences</label>
</div>
<div class="field">
  <input type="checkbox" data-key="mediaDetails" data-checked-value="Audio" id="mediaDetailsAudio" />
  <label class="inspectable" for="mediaDetailsAudio">Audio</label>
</div>
<div class="field">
  <input type="checkbox" data-key="mediaDetails" data-checked-value="Videos" id="mediaDetailsVideos" />
  <label class="inspectable" for="mediaDetailsVideos">Videos</label>
</div>

<h3>Are there any other characteristics that you would use to describe the <span class="inspectable">media</span> aspect of the dataset?</h3>
<div class="field">
  <textarea data-key="mediaMisc" placeholder="Optional"></textarea>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
