<div class="hideIfProtesting">
  <p class="introText">Please answer the following in terms of how <em>you</em> would interpret the dataset as <span class="inspectable">media</span>&mdash;not necessarily how it would be stored in a computer.</p>

  <div class="wrongWay field">
    <small>If, on second thought, this does not describe the data:</small>
    <div class="wrongWay imgAndLabel button">
      <a><img src="img/wrongWay.svg"/></a>
      <span class="label">Skip this section</span>
    </div>
  </div>

  <h3>Color</h3>
  <div class="field">
    <p>How many <span class="inspectable">color channels</span> are there?</p>
    <div class="likert" data-key="colorChannelCount" id="colorChannelCount" data-likert="N/A,1,2,3,&ge;4"></div>
  </div>

  <h3>Which of the following would you expect to exist in the dataset?</h3>
  <div class="flagErrorWarning" style="display:none">Please be advised that, due to a wrangling mistake (yes, really) in &le;v1.0.0 of the survey, at most a single checkbox per response will have been preserved.</div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="RasterImages" id="mediaDetailsRasterImages" />
    <label for="mediaDetailsRasterImages"><span class="inspectable">Raster images</span></label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="VectorImages" id="mediaDetailsVectorImages" />
    <label for="mediaDetailsVectorImages"><span class="inspectable">Vector images</span></label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="MultiDimensionalImages" id="mediaDetailsMultiDimensionalImages" />
    <label for="mediaDetailsMultiDimensionalImages"><span class="inspectable">Multidimensional images</span></label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="ImageSequences" id="mediaDetailsImageSequences" />
    <label for="mediaDetailsImageSequences">image sequences</label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="Audio" id="mediaDetailsAudio" />
    <label class="inspectable" for="mediaDetailsAudio">Audio</label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="mediaDetails" data-flag="Videos" id="mediaDetailsVideos" />
    <label class="inspectable" for="mediaDetailsVideos">Videos</label>
  </div>

  <h3>Are there any other characteristics that you would use to describe the <span class="inspectable">media</span> aspect of the dataset?</h3>
  <div class="field">
    <textarea data-key="mediaMisc" placeholder="Optional"></textarea>
  </div>
</div>

<div class="buttonContainer">
  <div class="restore imgAndLabel button">
    <a><img src="img/restore.svg"/></a>
    <span class="label">Restore this section</span>
  </div>
  <div class="protest imgAndLabel button">
    <a><img src="img/protest.svg"/></a>
    <span class="label">Skip this section</span>
  </div>
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
