<p>The following are views that we created to assist our analysis process in
writing the publication.</p>

<h3>Timestamps</h3>

<p>This survey was deployed at two conferences, in addition to the University
  of Arizona campus community. The timestamps can therefore be used as a proxy
  for demographic information:<p>
<ul>
  <li>The IEEE VIS conference took place from 20-25 Oct 2019</li>
  <li>The Supercomputing conference took place from 17-22 Nov 2019</li>
</ul>

<select class="timestampMode">
  <option data-dataset="dasResponse" data-key="startTimestamp">
    Initial abstraction start timestamp
  </option>
  <option data-dataset="dasResponse" data-key="submitTimestamp" selected>
    Initial abstraction submit timestamp
  </option>
  <option data-dataset="etsResponse" data-key="startTimestamp">
    Alternate abstraction start timestamp
  </option>
  <option data-dataset="etsResponse" data-key="submitTimestamp">
    Alternate abstraction submit timestamp
  </option>
</select>

<div class="svgWrapper">
  <svg class="detail">
    <defs>
      <clipPath id="detailClip">
        <rect></rect>
      </clipPath>
    </defs>
    <g class="x axis"></g>
    <g class="y axis"></g>
    <g class="fullBins"></g>
    <g class="filteredBins"></g>
    <g class="zoom"></g>
  </svg>
  <svg class="overview">
    <g class="x axis"></g>
    <g class="y axis"></g>
    <g class="fullBins"></g>
    <g class="filteredBins"></g>
    <g class="brush"></g>
  </svg>
</div>

<hr/>

<h3>Co-occurrence and Transition Reflections</h3>

<div class="svgWrapper">
  <svg class="heatmap">
    <g class="x axis"></g>
    <g class="y axis"></g>
    <text class="x label"></text>
    <text class="y label"></text>
    <g class="container"></g>
  </svg>
</div>

<div class="split field">
  <div class="source"></div>
  <div class="target"></div>
</div>

<p>Note that this view only summarizes the responses that pass the current
  Active Filters.</p>
