<p>Preview:</p>
<div class="preview"></div>

<h3>Including time, how many <span class="inspectable">dimensions</span> are needed to describe the space in which this dataset exists?</h3>
<div class="field">
  <input type="radio" data-key="${state}NDimensions" name="${state}NDimensions" data-checked-value="1" id="${state}NDimensionsOne" />
  <label for="${state}NDimensionsOne">1</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}NDimensions" name="${state}NDimensions" data-checked-value="2" id="${state}NDimensionsTwo" />
  <label for="${state}NDimensionsTwo">2</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}NDimensions" name="${state}NDimensions" data-checked-value="3" id="${state}NDimensionsThree" />
  <label for="${state}NDimensionsThree">3</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}NDimensions" name="${state}NDimensions" data-checked-value="4+" id="${state}NDimensionsThree" />
  <label for="${state}NDimensionsThree">&ge;4</label>
</div>

<div class="field">
  <input type="checkbox" data-key="${state}SpatialNuances" data-flag="Temporal" id="${state}isTemporal" />
  <label for="${state}isTemporal">One of the above <span class="inspectable">dimensions</span> is <span class="inspectable">temporal</span></label>
</div>

<h3>Which of the following best describes the individual <span class="inspectable">items</span> in the dataset?</h3>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Points" id="${state}SpatialItemTypePoints" />
  <label class="inspectable" for="${state}SpatialItemTypePoints">Points</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Intervals" id="${state}SpatialItemTypeIntervals" />
  <label class="inspectable" for="${state}SpatialItemTypeIntervals">Intervals</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Vectors" id="${state}SpatialItemTypeVectors" />
  <label class="inspectable" for="${state}SpatialItemTypeVectors">Vectors</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Tensors" id="${state}SpatialItemTypeTensors" />
  <label class="inspectable" for="${state}SpatialItemTypeTensors">Tensors</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Lines" id="${state}SpatialItemTypeLines" />
  <label class="inspectable" for="${state}SpatialItemTypeLines">Lines</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Areas" id="${state}SpatialItemTypeAreas" />
  <label class="inspectable" for="${state}SpatialItemTypeAreas">Areas</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Surfaces" id="${state}SpatialItemTypeSurfaces" />
  <label class="inspectable" for="${state}SpatialItemTypeSurfaces">Surfaces</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Volumes" id="${state}SpatialItemTypeVolumes" />
  <label class="inspectable" for="${state}SpatialItemTypeVolumes">Volumes</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}SpatialItemType" name="${state}SpatialItemType" data-checked-value="Hypervolumes" id="${state}SpatialItemTypeHypervolumes" />
  <label class="inspectable" for="${state}SpatialItemTypeHypervolumes">Hypervolumes</label>
</div>

<h3>Please describe what each axis / point / (todo) represents...</h3>

<h3>Would you expect any of the following to apply to, or exist in, any table?</h3>
<div class="field">
  <input type="checkbox" data-key="${state}SpatialNuances" data-flag="Abstract Space" id="${state}isAbstractSpace" />
  <label for="${state}isAbstractSpace">The space described above is abstract; i.e. its <span class="inspectable">dimensions</span> would not correspond to physical dimensions in the real universe</label>
</div>

<h3>Are there any other characteristics that you would use to describe the <span class="inspectable">spatial</span> or <span class="inspectable">temporal</span> aspect of the dataset?</h3>
<div class="field">
  <textarea data-key="${state}SpatialMisc" placeholder="Optional.&#10;&#10;Please remember that these comments are public."></textarea>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
