<div class="hideIfProtesting">
  <p class="introText">Please answer the following in terms of how <em>you</em> would interpret the dataset as <span class="inspectable">grouped</span>&mdash;not necessarily how it would be stored in a computer.</p>

  <div class="wrongWay field">
    <small>If, on second thought, this does not describe the data:</small>
    <div class="wrongWay imgAndLabel button">
      <a><img src="img/wrongWay.svg"/></a>
      <span class="label">Skip this section</span>
    </div>
  </div>

  <h3>Scale / Complexity</h3>
  <div class="field">
    <p>Approximately how many <span class="inspectable">groups</span> are in this dataset?</p>
    <div class="likert" data-key="numGroups" id="numGroups" data-likert="1,2,3,Tens,Hundreds,Thousands,&ge; Millions"></div>
  </div>

  <h3>Would you expect any of the following to exist in the dataset?</h3>
  <div class="flagErrorWarning" style="display:none">Please be advised that, due to a wrangling mistake (yes, really) in v1.0.0 of the survey, at most a single checkbox per response will have been preserved.</div>
  <div class="field">
    <input type="checkbox" data-key="groupedDetails" data-flag="Clusters" id="groupedDetailsClusters" />
    <label class="inspectable" for="groupedDetailsClusters">Clusters</label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="groupedDetails" data-flag="Sets" id="groupedDetailsSets" />
    <label class="inspectable" for="groupedDetailsSets">Sets</label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="groupedDetails" data-flag="Partitions" id="groupedDetailsPartitions" />
    <label class="inspectable" for="groupedDetailsPartitions">Partitions</label>
  </div>
  <div class="field">
    <input type="checkbox" data-key="groupedDetails" data-flag="Intersections" id="groupedDetailsIntersections" />
    <label for="groupedDetailsIntersections"><span class="inspectable">Group</span> <span class="inspectable">intersections</span></label>
  </div>

  <h3>Are there any other characteristics that you would use to describe the <span class="inspectable">grouped</span> aspect of the dataset?</h3>
  <div class="field">
    <textarea data-key="groupedMisc" placeholder="Optional"></textarea>
  </div>
</div>

<div class="buttonContainer">
  <div class="restore imgAndLabel button">
    <a><img src="img/restore.svg"/></a>
    <span class="label">Restore this section</span>
  </div>
  <div class="protest imgAndLabel button">
    <a><img src="img/protest.svg"/></a>
    <span class="label">Skip this section</span>
  </div>
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
