<h3 class="center">General Data Protections Regulation (GDPR)</h3>
<h4 class="center">Addendum to the Informed Consent Document for Research Subjects</h4>
<h4 class="center">who are located in the European Union for</h4>
<h4 class="center">Democratizing Non-Tabular Data Abstractions and Wrangling Operations</h4>

<p>As described in the informed consent document for the research study named above (the “Study”), personal data pertaining to your participation in the Study will be generated and recorded. The personal data includes an element of, or all of, the following; your email address, and philosophical beliefs. We refer to all such data as your "Study Data."</p>

<p>In addition to being regulated by applicable U.S. laws, if you are located in the European Economic Area during your participation in the Study, your Study Data will also be subject to the protections of the European Union’s General Data Protection Regulation (the "GDPR").</p>

<p>Your Study Data will be processed, or used, for the purpose of conducting the Study described in this informed consent. In addition, your Study Data will be anonymized data and pseudo-anonymized in order for us to track overall performance of the Study and for potential future research. When your Study Data is pseudo-anonymized, the data set will omit your name, home address and other identifiers that directly identify you and be coded with a unique numeric identifier. The key linking you to the code will not be shared outside the research team.</p>

<h4>International Transfer of Your Study Data</h4>

<p>We may conduct the Study and future research in the United States or in other countries where the laws do not protect your privacy to the same extent as the laws in the European Economic Area. In addition, we may disclose your Study Data in order to conduct the Study or future research to entities and individuals located in the United States or in other countries where the laws do not protect your privacy to the same extent as the laws in the European Economic Area. In either case, we will comply with the privacy and data protection laws that apply to you if you are located in the European Economic Area.</p>

<h4>Recipients of Your Study Data</h4>
<p>The following entities and organizations may process your Study Data for purposes of conducting the Study (together, "Recipients"):</p>
<ul>
  <li>Those individuals associated with this research project as research personnel;</li>
  <li>The University of Arizona (UA) and the UA Institutional Review Board;</li>
  <li>Domestic and foreign regulatory agencies and government officials who have a duty to monitor or oversee studies like the Study described in the informed consent form;</li>
  <li>The general public will be given access to anonymized data</li>
</ul>

<h4>Your Rights</h4>
<p>If you are located in the European Economic Area during your participation in the Study, the GDPR gives you certain rights with regard to your Study Data. You have the right to request access to, rectification, or erasure of, your Study Data. You also have the right to object to or restrict our use of your Study Data. Finally, you have a right to request that we move, copy or transfer your Study Data to another organization. In order to make any such requests, please contact the research team at <a href="mailto:alex.r.bigelow@email.arizona.edu">alex.r.bigelow@email.arizona.edu</a> or +1 801-300-8525. Please be aware that these rights over your Study Data may be limited if we are unable to identify you from your Study Data alone because, for example, your Study Data has been anonymized or pseudo-anonymized.</p>

<h4>Data Retention</h4>
<p>There is no limit on the length of time we will keep your Study Data for this research because it may be analyzed for many years. We will keep it as long as it is useful, unless you decide you no longer want to take part. You are allowing access to your Study Data indefinitely as long as you do not withdraw your consent.</p>

<p>Please read each sentence below and check the box if you consent to the additional data processing for the research purpose described in the sentence.</p>
<div class="field">
  <input type="checkbox" class="private" data-key="gdprFutureOk" data-checked-value="OK" id="gdprFutureOk" />
  <label for="gdprFutureOk">You may keep my Study Data for future research, that may not be specified at this point.  My Study Data will be stored with an identification number that can be used by researchers to identify me in cases where identification is permitted by applicable law and in a way that does not directly identify me.</label>
</div>
<div class="field">
  <input type="checkbox" class="private" data-key="gdprReleaseOk" data-checked-value="OK" id="gdprReleaseOk" />
  <label for="gdprReleaseOk">You may share my anonymized Study Data with other researchers and the public.  My Study Data will be stored with an identification number that can be used by researchers and other entities to identify me in cases where identification is permitted by applicable law and in a way that does not directly identify me.</label>
</div>

<h4>Withdrawing Your Consent</h4>
<p>You may withdraw your consent at any time. If you withdraw your consent, this will not affect the lawfulness of our collecting, use and sharing of your Study Data up to the point in time that you withdraw your consent. Even if you withdraw your consent, we may still use your Study Data that has been anonymized and may use your Study Data that identifies you (i) where we are required by law to maintain your identifiable personal data and (ii) as required to comply with regulatory requirements applicable to the conduct of the Study.</p>

<h4>Questions Regarding Use of Your Study Data</h4>
<p>Alex Bigelow is the data controller responsible for the use of your Study Data. If you have any questions regarding the use of your personal data, please contact the Principal Investigator at the number outlined in the informed consent form.</p>

<div class="buttonContainer">
  <div class="agree button"><a></a><span class="label">I agree</span></div>
</div>
