<datalist id="existingLabels"></datalist>
<h3>Please give a short name for <strong>any</strong> kind of dataset that you're familiar with, or, if you prefer, feel free to choose one of the datasets that other participants have used&mdash;even if you're not familiar with it.</h3>
<div class="field">
  <input data-key="datasetLabel" list="existingLabels" />
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="priorExperience" id="priorExperience" />
  <label for="priorExperience">I have worked with this kind of data before</label>
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="hasDataNow" id="hasDataNow" />
  <label for="hasDataNow">I have this kind of data now</label>
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="plansToUse" id="plansToUse" />
  <label for="plansToUse">I plan to collect or obtain this kind of data in the future</label>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span>Next</span></div>
</div>
