<datalist id="existingLabels"></datalist>
<h3 class="analystFacing">Think of any dataset</h3>
<p class="analystFacing">This can be a dataset that you currently work with; a dataset that you have worked with in the past; a dataset that you are simply familiar with; or even a hypothetical dataset that doesn't exist (yet).</p>

<h3>Please choose a short label for this dataset</h3>
<div class="field">
  <p>A short, generic label is best; remember that this label may be visible to other participants and to the public.</p>
  <input data-key="datasetLabel" id="datasetLabel" list="existingLabels"/><br/>
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="priorExperience" id="priorExperience" />
  <label for="priorExperience">I have worked with this kind of data before</label>
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="hasDataNow" id="hasDataNow" />
  <label for="hasDataNow">I have this kind of data now</label>
</div>
<div class="field">
  <input type="checkbox" data-key="datasetNuances" data-flag="plansToUse" id="plansToUse" />
  <label for="plansToUse">I plan to collect or obtain this kind of data in the future</label>
</div>
<div class="field archivistFacing">
  <input type="checkbox" data-key="datasetNuances" data-flag="summaryOfDesignStudy" id="summaryOfDesignStudy" />
  <label for="summaryOfDesignStudy">This is a summary of data described in an existing design study</label>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
