<div class="hideIfProtesting">
  <h3>In theory: <span class="targetType"></span> data</h3>
  <p>Please rate the extent to which you agree with each of the following statements</p>

  <div class="field">
    <p>It was difficult to imagine <span class="datasetLabel"></span> data as <span class="targetType"></span>.</p>
    <div class="likert" data-key="hardToImagine" id="hardToImagine" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>Thinking about <span class="datasetLabel"></span> data as <span class="targetType"></span> caused me to think of questions or analysis tasks that otherwise would not have occurred to me.</p>
    <div class="likert" data-key="newQuestions" id="newQuestions" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>Thinking about <span class="datasetLabel"></span> data as <span class="targetType"></span> is inaccurate or unrealistic.</p>
    <div class="likert" data-key="inaccurate" id="inaccurate" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>Thinking about <span class="datasetLabel"></span> data as <span class="targetType"></span> was useful.</p>
    <div class="likert" data-key="useful" id="useful" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>Having taken this survey, I am more likely to think about <span class="datasetLabel"></span> data as <span class="targetType"></span> from now on.</p>
    <div class="likert" data-key="moreLikely" id="moreLikely" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>

  <h3>In practice: <span class="targetType"></span> data</h3>
  <p>Please rate the extent to which you agree with each of the following statements</p>

  <div class="field">
    <p>The dataset I described in the previous "Data Details" section could only be created with additional data collection or discovery.</p>
    <div class="likert" data-key="needsNewData" id="needsNewData" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>I plan to reshape <span class="datasetLabel"></span> data into <span class="targetType"></span> form in the future.</p>
    <div class="likert" data-key="planToReshape" id="planToReshape" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>
  <div class="field">
    <p>It would be difficult to format <span class="datasetLabel"></span> data as <span class="targetType"></span> in practice (such as in a computer).</p>
    <div class="likert" data-key="hardInPractice" id="hardInPractice" data-likert="Strongly disagree,Disagree,Neither agree nor disagree,Agree,Strongly agree"></div>
  </div>

  <h3>Tool support</h3>
  <div class="field">
    <p>If you actually needed to transform <span class="datasetLabel"></span> data into a <span class="targetType"></span> format, what software tools, programming languages, or approaches do you think you would be most likely to use? Please separate responses with commas.</p>
    <textarea data-key="softwareList" id="softwareList" placeholder="Optional. Short responses such as the following are perfectly adequate:&#10;&nbsp;&nbsp;&nbsp;&nbsp;Excel, Open Refine, Python&#10;&nbsp;&nbsp;&nbsp;&nbsp;I would hire someone"></textarea>
  </div>

  <h3>Reflections</h3>
  <div class="field">
    <p>Please let us know if you have any additional thoughts about the theoretical or practical implications of thinking about the dataset as <span class="targetType"></span>.</p>
    <textarea data-key="reflections" id="reflections" placeholder="Optional"></textarea>
  </div>
</div>

<h3>Thank you for taking this survey</h3>
<p>Clicking "Submit" will add your responses to our database, in addition to any alternative terms you have suggested in the Glossary.</p>
<div class="buttonContainer">
  <div class="restore imgAndLabel button">
    <a><img src="img/restore.svg"/></a>
    <span class="label">Restore this section</span>
  </div>
  <div class="protest imgAndLabel button">
    <a><img src="img/protest.svg"/></a>
    <span class="label">Skip this section</span>
  </div>
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
