@import '../../style/colors.less';

.DataTypeView {
  .combo.button {
    padding-left: 4.5em;
    padding-right: 1em;
    margin: 0.5em 0;
    height: 4.5em;
    width: calc(100% - 5.5em);
    img {
      width: 3.5em;
      height: 3.5em;
    }
    h4, p {
      width: fit-content;
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
}
