<div class="hideIfProtesting">
  <h3>How frequently do each of the following characterize how <em>you</em> interpret the dataset (including any <span class="inspectable">metadata</span>)?</h3>

  <!-- General-purpose abstractions; you can almost always model data as one of these -->
  <div class="field">
    <p>The dataset is <span class="inspectable">tabular</span>; I think about it in terms of <span class="inspectable">rows</span> and <span class="inspectable">columns</span>.</p>
    <div class="likert" data-key="tabularThinking" id="tabularThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>
  <div class="field">
    <p>The dataset is a <span class="inspectable">network</span> or <span class="inspectable">hierarchy</span>; I think about it in terms of <span class="inspectable">nodes</span> and <span class="inspectable">edges</span>.</p>
    <div class="likert" data-key="networkThinking" id="networkThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">spatial</span> or <span class="inspectable">temporal</span>; I think about it in terms of <span class="inspectable">points</span> or <span class="inspectable">regions</span> in space or time.</p>
    <div class="likert" data-key="spatialThinking" id="spatialThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">grouped</span>; I think about it in terms of <span class="inspectable">clusters</span>, <span class="inspectable">sets</span>, or <span class="inspectable">partitions</span>.</p>
    <div class="likert" data-key="groupedThinking" id="groupedThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>

  <!-- Additional mental models that could be independent of general-purpose abstractions, but are less likely to be able to model all datasets -->
  <div class="field">
    <p>The dataset is <span class="inspectable">textual</span>; I think about it in terms of characters or documents.</p>
    <div class="likert" data-key="textualThinking" id="textualThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">media</span>; I think about it in terms of images, audio, and/or video.</p>
    <div class="likert" data-key="mediaThinking" id="mediaThinking" data-likert="Never,Rarely,Sometimes,Very often,Always" data-protest-default="Never"></div>
  </div>

  <h3>How accurately do each of the following statements characterize how <em>a computer</em> would interpret the raw dataset (including any <span class="inspectable">metadata</span>)?</h3>
  <p>Please estimate the extent to which these concepts would be likely to exist as part of a file format, or inside a program.</p>

  <!-- General-purpose abstractions; you can almost always model data as one of these -->
  <div class="field">
    <p>The dataset is <span class="inspectable">tabular</span>; a computer would store it in terms of <span class="inspectable">rows</span> and <span class="inspectable">columns</span>.</p>
    <div class="likert" data-key="tabularRawData" id="tabularRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>
  <div class="field">
    <p>The dataset is a <span class="inspectable">network</span> or <span class="inspectable">hierarchy</span>; a computer would store it in terms of <span class="inspectable">nodes</span> and <span class="inspectable">edges</span>.</p>
    <div class="likert" data-key="networkRawData" id="networkRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">spatial</span> or <span class="inspectable">temporal</span>; a computer would store it in terms of <span class="inspectable">points</span> or <span class="inspectable">regions</span> in space or time.</p>
    <div class="likert" data-key="spatialRawData" id="spatialRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">grouped</span>; a computer would store it in terms of <span class="inspectable">clusters</span> or <span class="inspectable">sets</span>.</p>
    <div class="likert" data-key="groupedRawData" id="groupedRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>

  <!-- Additional mental models that could be independent of general-purpose abstractions, but are less likely to be able to model all datasets -->
  <div class="field">
    <p>The dataset is <span class="inspectable">textual</span>; a computer would store it in terms of characters or documents.</p>
    <div class="likert" data-key="textualRawData" id="textualRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>
  <div class="field">
    <p>The dataset is <span class="inspectable">media</span>; a computer would store it in terms of images, audio, and/or videos.</p>
    <div class="likert" data-key="mediaRawData" id="mediaRawData" data-likert="Very inaccurate,Moderately inaccurate,Neither inaccurate nor accurate,Moderately accurate,Accurate"></div>
  </div>

  <h3>Other generalizations</h3>
  <div class="other field">
    <p>Is there a similar generalization that we should have included? If so, please describe it in terms of its general structure (as opposed to its real-world meaning), in terms of how you think about it, and/or how it would be represented inside a file format or program.</p>
    <textarea data-key="otherTypeExplanation" id="otherTypeExplanation" id="otherTypeExplanation" placeholder="Optional"></textarea>
  </div>
</div>

<div class="buttonContainer">
  <div class="restore imgAndLabel button">
    <a><img src="img/restore.svg"/></a>
    <span class="label">Restore this section</span>
  </div>
  <div class="protest imgAndLabel button">
    <a><img src="img/protest.svg"/></a>
    <span class="label">Skip this section</span>
  </div>
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
