<h3>Which of the following is the best description for this <span class="inspectable">type of dataset</span>?</h3>
<div class="combo button" data-key="datasetType" data-value="Tables">
  <a><img src="img/tables.svg"/></a>
  <h4 class="inspectable">Tables</h4>
  <small>
    <p>
      Choose this option if you tend to think about the data in terms of
      <span class="inspectable">rows</span> and <span class="inspectable">columns</span>.
    </p>
  </small>
</div>
<div class="combo button" data-key="datasetType" data-value="Network">
  <a><img src="img/network.svg"/></a>
  <h4 class="inspectable">Network / Tree</h4>
  <small>
    <p>
      Choose this option if you tend to think about the data in terms of
      <span class="inspectable">nodes</span> and <span class="inspectable">links</span>.
    </p>
  </small>
</div>
<div class="combo button" data-key="datasetType" data-value="Field">
  <a><img src="img/field.svg"/></a>
  <h4 class="inspectable">Field</h4>
  <small>
    <p>
      Choose this option if you tend to think about the data in terms of
      <span class="inspectable">grid positions</span> with associated
      <span class="inspectable">attributes</span>.
    </p>
  </small>
</div>
<div class="combo button" data-key="datasetType" data-value="Geometry">
  <a><img src="img/geometry.svg"/></a>
  <h4 class="inspectable">Geometry</h4>
  <small>
    <p>
      Choose this option if you tend to think about the data in terms of
      <span class="inspectable">shapes</span>.
    </p>
  </small>
</div>
<div class="combo button" data-key="datasetType" data-value="Sets">
  <a><img src="img/sets.svg"/></a>
  <h4 class="inspectable">Clusters / Sets / Lists</h4>
  <small>
    <p>
      Choose this option if you tend to think about the data in terms of
      <span class="inspectable">items</span> that may (or may not) be <span class="inspectable">grouped</span>
      or <span class="inspectable">ordered</span>.
    </p>
  </small>
</div>
<div class="button" data-key="datasetType" data-value="N/A">
  <a></a>
  <span class="label">None of the above</span>
</div>
<div class="hybrid field">
  <input type="checkbox" data-key="datasetIsHybrid" data-value="true" id="datasetIsHybrid"/>
  <label for="datasetIsHybrid">The dataset a hybrid combination of two or more of the above descriptions</label><br />
  <small>If so, choose the best description for what you feel is the most important component of the data, or the component that you interact with the most</small>
</div>
<div class="na field">
  <h3>Please describe why none of the above descriptions are a good fit. Is there a similar generalization that we should have included?</h3><br />
  <textarea data-key="noTypeExplanation" placeholder="Optional. Please remember that these comments are public."></textarea>
</div>
<div class="buttonContainer">
  <div class="finish button"><a></a><span class="label">Finish Survey</span></div>
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
