<h3><img class="inlineImage" src="img/protest.svg"> Please let us know what went wrong</h3>
<p>Critique about any aspect of this survey is welcome, however, please remember that these responses will be included in our public database. Although we will only release anonymous responses, try to take a moment to craft your critique in such a way that it can contribute to a community discussion.</p>
<div class="field">
  <textarea class="protestReason"></textarea>
</div>
<p>If there is an issue that should be kept private, please email the study coordinator at <a href="mailto:alex.r.bigelow@email.arizona.edu">alex.r.bigelow@email.arizona.edu</a>.</p>
