<h3><img class="inlineImage" src="img/wrongWay.svg"> Not what you expected?</h3>
<p>You previously marked something other than "Never," in reference to how frequently you interpret the dataset in terms of this data type. Using this option will reset that answer to "Never," but before it does, please leave us a note so that we can better understand what happened.</p>
<div class="field">
  <textarea data-key="wrongWay"></textarea>
</div>
<p>If changing your original answer to "Never" does not seem like the right thing to do, please use the standard "<img class="inlineImage" src="img/protest.svg"> Skip this section" button instead.</p>
