<h3><img class="inlineImage" src="img/wrongWay.svg"> Not what you expected?</h3>
<p>Using this option will reset one of your previous answers to "Never," in reference to how frequently you interpret the dataset in terms of the <span class="dataType"></span> data type. Before it does, please leave us a note so that we can better understand what happened.</p>
<div class="field">
  <textarea class="wrongWayReason"></textarea>
</div>
<p>If changing your original answer to "Never" does not seem like the right thing to do, please use the regular "<img class="inlineImage" src="img/protest.svg"> Skip this section" button instead.</p>
