.ConsentView {
  .construction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  margin-top: 1em;
  .consentVersion {
    position: absolute;
    right: 0em;
    top: 0px;
  }

  .logo {
    position: absolute;
    left: 0em;
    top: 0em;
  }

  h2,
  h3 {
    margin: 0 0 0 85px;
  }

  .hspp {
    border: 1px dashed black;
    padding: 1em;
    font-size: 0.75em;
    width: 16em;
  }
}
