.ConsentView {
  .consentVersion {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .logo {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  h2,
  h3 {
    text-align: center;
  }

  .buttons {
    text-align: center;
  }
  button {
    margin: 1em;
  }

  .hspp {
    border: 1px dashed black;
    padding: 1em;
    font-size: 0.75em;
    width: 15em;
  }
}
