<img class="logo" src="img/arizona.svg" width="75"/>

<div class="consentVersion">Consent Version: 17 September 2019</div>

<h2 class="center">University of Arizona</h2>
<h3 class="center">Consent to Participate in Research</h3>

<h4>Study Title: Democratizing Non-Tabular Data Abstractions and Wrangling Operations</h4>
<h4>Principal Investigator: Alex Bigelow</h4>

<h4>Summary of the research</h4>
<p><strong>This is a consent form for participation in a research project.</strong> Your participation in this research study is voluntary. It contains important information about this study and what to expect if you decide to participate.  Please consider the information carefully. Feel free to ask questions before making your decision whether or not to participate.</p>

<h4>Why is this study being done?</h4>
<p>This study intends to characterize the data structures and schemas that are commonly used across disciplines. We are attempting to understand the extent to which you utilize established concepts, the terminology you would use to describe them, and common data wrangling operations that you perform.</p>

<p>Our ultimate goal is to design free, open-source software tools that can better support data science workers in designing data abstractions.</p>

<h4>What will happen if I take part in this study?</h4>
<p>The study consists of three main parts:</p>
<ul>
  <li>A survey about your perspectives on a dataset of your choice</li>
  <li>An exercise that explores alternative perspectives</li>
  <li>Opportunities to suggest alternatives to the terminology that we are using through both activities</li>
</ul>

<h4>How long will I be in the study?</h4>
<p>Together, the three parts of the study should take no more than 30 minutes to complete.</p>

<h4>How many people will take part in this study?</h4>
<p>We are inviting broad participation through various means; we hope to collect hundreds of responses.</p>

<h4>Can I stop being in the study?</h4>
<strong>Your participation is voluntary</strong>, and no data is entered into the study by this system until you click a "Submit" button. You are welcome to request at any time that we remove or correct data that you have already submitted. If you navigate away from this page without submitting data, or request to have data removed, there will be no penalty to you. Your decision will not affect your future relationship with The University of Arizona.  If you are a student or employee at the University of Arizona, your decision will not affect your grades or employment status.

<h4>What risks or benefits can I expect from being in the study?</h4>
<p>There are no expected risks to you as a result of participating in this study. Aside from the potential for minor educational / creativity benefits (that we hope to assess in the future), there are no direct benefits to participating in this study.</p>

<h4>Will I be paid for participating in the study or experience any costs?</h4>
If you participate in the study as part of an organized event, such as a professional conference, you may be rewarded with a small item for your participation. Beyond the 30 minute time commitment, there should be no costs to you.

<h4>Will my study-related information be kept confidential?</h4>
<strong>This study will collect a mix of private data, as well as data that we will release to the public.</strong> Your name will not be used in any report.

<h5>Public data</h5>
<p>Most of the responses to this survey, marked with an eye icon <strong>will be released as part of a searchable public database:</strong></p>

<div class="field">
  <input type="text" disabled value="Fields that look like this are public"/>
</div>

<p>We request that you avoid including identifying information in any free response fields. The research team will review your responses before including them in the public database, and may modify or decline to include responses that contain clearly identifiable information; harassing, defamatory, or hateful comments; or responses that the team determines to be inappropriate for including in a public database.</p>

<p>In the following screen, you may request to be notified when your responses are made public.</p>

<p>If you wish to make a correction, or have your responses removed from the database, please contact the study coordinator using the email address that you submit with this form.</p>

<h5>Private data</h5>
<p>Your responses will be assigned a code number. A list connecting your email address to this code will be kept in an encrypted and password protected file. Only the research team will have access to the file. When the study is completed and the data have been analyzed, the list will be destroyed.</p>

<p>In addition to email addresses, any fields will be flagged with a lock icon will be kept confidential:</p>

<div class="field">
  <input type="text" class="private" disabled value="Fields that look like this are private"/>
</div>

<p>These responses will never be included in the public database, and only reported in aggregate.</p>

<h4>Will my study-related information be used for future research?</h4>
<p>Our study is currently in a pilot phase. During this, and later phases, the data
that you submit will be used without additional consent. At the completion of
later phases, all private data will be destroyed, and the public database will
be archived on <a href="https://osf.io" target="_blank">osf.io</a>.</p>

<p>Other than the anonymous public dataset, no data will be shared with other
researchers at any point. If another researcher expresses interest in your
anonymous responses, <strong>and</strong> you indicate interest in being
contacted about additional research studies, we will forward the other
researcher's contact information to you.</p>

<h4>Who can answer my questions about the study?</h4>
<p>For questions, concerns, or complaints about the study you may contact Alex Bigelow at <a href="mailto:alex.r.bigelow@email.arizona.edu">alex.r.bigelow@email.arizona.edu</a> or 801-300-8525.</p>

<p>For questions about your rights as a participant in this study or to discuss other study-related concerns or complaints with someone who is not part of the research team, you may contact the Human Subjects Protection Program at 520-626-6721 or online at <a href="http://rgw.arizona.edu/compliance/human-subjects-protection-program">http://rgw.arizona.edu/compliance/human-subjects-protection-program</a>.</p>

<h4>Signing the consent form</h4>
<p>I have read this form, and I am aware that I am being asked to participate in a research study. I have had the opportunity to ask questions and have had them answered to my satisfaction. I voluntarily agree to participate in this study.</p>

<p>I am not giving up any legal rights by signing this form.</p>
<p><strong>If you are 18 years of age or older, understand the statements above, and freely consent to participate in the study, click on the "I Agree" button to begin the experiment.</strong></p>
<div class="buttonContainer">
  <div class="agree button"><a></a><span class="label">I agree</span></div>
</div>
<p class="consented">If you change your mind, and wish to have submitted data removed, please contact <a href="mailto:alex.r.bigelow@email.arizona.edu">alex.r.bigelow@email.arizona.edu</a>.</p>
<div class="hspp">
  HSPP Use Only: Consent Form<br/>
  Fed non-medical v2019-02
</div>
