<img class="logo" src="img/arizona.svg" width="75"/>

<h2 class="center">University of Arizona</h2>
<h3 class="center">Consent to Participate in Research</h3>

<h4>Study Title: Democratizing Non-Tabular Data Abstractions and Wrangling Operations</h4>
<h4>Principal Investigator: Alex Bigelow</h4>

<p><strong>We do not have IRB Approval yet!</strong> If I'm asking you for feedback on the overall design of this survey, I will, AT MOST, be taking mental notes. No data that you enter will be stored.
