<img class="logo" src="img/arizona.svg" width="75"/>

<div class="consentVersion">Consent Version: 9 July 2019</div>

<h2 class="center">University of Arizona</h2>
<h3 class="center">Consent to Participate in Research</h3>

<h4>Study Title: Democratizing Non-Tabular Data Abstractions and Wrangling Operations</h4>
<h4>Principal Investigator: Alex Bigelow</h4>

<p style="color:#f00">TODO: this text will change dramatically; we're going to make responses public. Control over the data that we collect / share will be managed with the "Your Responses" pane to the left</p>

<p><strong>You are being asked to participate in a research study.</strong> Your participation in this research study is voluntary and you do not have to participate. This document contains important information about this study and what to
  expect
  if you decide to participate. Please consider the information carefully. Feel free to ask questions before making your decision whether or not to participate.</p>
<p>This survey intends to characterize the data structures and schemas that are commonly used across disciplines. We are attempting to gauge your familiarity with established concepts, the terminology you use to describe them, and common data
  wrangling operations that you perform.</p>
<p>Our ultimate goal is to design free, open-source software tools that can better support you in this process: there are no expected risks to you as a result of participating in this study, and benefits will be limited to an opportunity to
  influence the design of tools that will be publicly available months or years in the future.</p>
<p>The information that you give in the study will be anonymous. Your name will not be collected or linked to your answers. Because of the nature of the data, it may be possible to deduce your identity; however, there will be no attempt to do so
  and your data will be reported in a way that will not identify you.</p>
<p>The information that you provide in the study will be handled confidentially. However, there may be circumstances where this information must be released or shared as required by law. The University of Arizona Institutional Review Board may
  review the research records for monitoring purposes.</p>
<p>For questions, concerns, or complaints about the study you may contact Alex Bigelow at 801-300-8525 or <a href="mailto:alex.r.bigelow@email.arizona.edu">alex.r.bigelow@email.arizona.edu</a></p>
<p>For questions about your rights as a participant in this study or to discuss other study-related concerns or complaints with someone who is not part of the research team, you may contact the Human Subjects Protection Program at 520-626-6721 or
  online at <a href="http://rgw.arizona.edu/compliance/human-subjects-protection-program">http://rgw.arizona.edu/compliance/human-subjects-protection-program</a>.</p>
<p><strong>If you are 18 years of age or older, understand the statements above, and freely consent to participate in the study, click on the "I Agree" button to begin the experiment.</strong></p>
<div class="buttonContainer">
  <div class="agree button"><a></a><span class="label">I agree</span></div>
</div>
<div class="hspp">
  HSPP Use Only:<br/>
  Consent Script non-federal v2019-02
</div>
