@import '../../style/colors.less';

.NetworkView {
  .insufficientNodesAndEdges {
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .node.field, .edge.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-right: 2em;
    & > div {
      white-space: nowrap;
    }
    &.selected {
      // Sneaky way to get a padded outline
      box-shadow: 0 0 0 6px @backgroundColor, 0 0 0 9px @focusColor;
    }
    .privacyLogo {
      display: block;
      top: 0.6em;
      right: -2.5em;
    }
  }
  .new.field .privacyLogo {
    display: none;
  }
  .exampleData {
    /*
      TODO: d3 is still working on dragging touch issues, as the ways that
      browsers prevent default actions (e.g. scrolling, zooming) aren't
      consistent yet. Need to watch this space:
      https://github.com/d3/d3-drag/issues/9
    */
    touch-action: none;

    .node {
      cursor: pointer;
      &:active {
        cursor: grabbing;
      }
      text {
        display: none;
      }
      &:hover text {
        display: inherit;
      }
      circle {
        fill: white;
        stroke: @textColor;
        stroke-width: 1;
      }
      &.selected circle {
        stroke: @focusColor;
        stroke-width: 3;
      }
    }
    .edge path {
      cursor: pointer;
      fill: none;
      &.hoverTarget {
        stroke: transparent;
        stroke-width: 6;
      }
      &.visible {
        stroke: @textColor;
        stroke-width: 1;
      }
    }
    .edge.selected path.visible {
      stroke: @focusColor;
      stroke-width: 3;
    }
  }
}
