<p class="introText">Please answer the following in terms of the most frequent way that <strong>you</strong> interpret the dataset as a <span class="inspectable">network</span> or <span class="inspectable">hierarchy</span>.</p>

<h3 id="nodeClassCount">How many <span class="inspectable">node</span> <span class="inspectable">classes</span> are there?</h3>
<div class="field">
  <div>
    <input type="radio" data-key="nodeClassCount" name="nodeClassCount" data-checked-value="1" />
    <label for="OneNodeClass">1</label>
  </div>
  <div>
    <input type="radio" data-key="nodeClassCount" name="nodeClassCount" data-checked-value="2" />
    <label for="TwoNodeClass">2</label>
  </div>
  <div>
    <input type="radio" data-key="nodeClassCount" name="nodeClassCount" data-checked-value="3+" />
    <label for="ThreeNodeClass">&ge;3</label>
  </div>
</div>

<h3 id="edgeClassCount">How many <span class="inspectable">edge</span> <span class="inspectable">classes</span> are there?</h3>
<div class="field">
  <div>
    <input type="radio" data-key="edgeClassCount" name="edgeClassCount" data-checked-value="1" />
    <label for="OneEdgeClass">1</label>
  </div>
  <div>
    <input type="radio" data-key="edgeClassCount" name="edgeClassCount" data-checked-value="2" />
    <label for="TwoEdgeClass">2</label>
  </div>
  <div>
    <input type="radio" data-key="edgeClassCount" name="edgeClassCount" data-checked-value="3+" />
    <label for="ThreeEdgeClass">&ge;3</label>
  </div>
</div>

<h3 id="edgeDirection">How would you characterize <span class="inspectable">edge</span> direction?</h3>
<div class="field">
  <div>
    <input type="radio" data-key="edgeDirection" name="edgeDirection" data-checked-value="Directed" />
    <label for="directed">Directed</label>
  </div>
  <div>
    <input type="radio" data-key="edgeDirection" name="edgeDirection" data-checked-value="Undirected" />
    <label for="undirected">Undirected</label>
  </div>
  <div>
    <input type="radio" data-key="edgeDirection" name="edgeDirection" data-checked-value="Mixed" />
    <label for="mixedDirection">Mixed</label>
  </div>
</div>

<h3>Please create a few examples of what <span class="inspectable">nodes</span> and <span class="inspectable">edges</span> might look like.</h3>
<p>Feel free to invent fake data, and please remember that these examples will be public.</p>
<p><span class="inspectable">Nodes</span>:</p>
<div class="nodeFields"></div>
<div class="new node field">
  <input placeholder="Provide a node label (optional)"/>
  <div class="create node button"><a></a><div class="label">Create <span class="inspectable">Node</span></div></div>
</div>
<p><span class="inspectable">Edges</span>:</p>
<div class="edgeFields"></div>
<div class="new edge field">
  <select class="source"></select>
  <select class="target"></select>
  <div>
    <input type="checkbox" id="newEdgeDirected" class="directed"/>
    <label for="newEdgeDirected">Directed</label>
  </div>
  <div class="create edge button"><a></a><div class="label">Create <span class="inspectable">Edge</span></div></div>
</div>
<p>Preview:</p>
<p class="insufficientNodesAndEdges">Please create at least two nodes and two edges</p>
<svg class="exampleData" id="networkPreview">
  <g class="edgeLayer"></g>
  <g class="nodeLayer"></g>
</svg>

<h3>Would you expect any of the following to describe the network?</h3>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Tree" id="isTree" />
  <label for="isTree">The network is a <span class="inspectable">hierarchy</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Connected" id="connected" />
  <label for="connected">The network is <span class="inspectable">connected</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Cycles" id="hasCycles" />
  <label for="hasCycles">The network contains <span class="inspectable">cycles</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Parallel Edges" id="hasParallel" />
  <label for="hasParallel">The network contains <span class="inspectable">parallel edges</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Self Edges" id="hasSelfEdges" />
  <label for="hasSelfEdges">The network contains <span class="inspectable">self-edges</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Supernodes" id="hasSupernodes" />
  <label for="hasSupernodes">The network contains <span class="inspectable">supernodes</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="networkDetails" data-flag="Hyperedges" id="hasHyperEdges" />
  <label for="hasHyperEdges">The network contains <span class="inspectable">hyperedges</span></label>
</div>
<h3>Are there any other characteristics that you would use to describe the network?</h3>
<div class="field">
  <textarea data-key="NetworkMisc" placeholder="Optional.&#10;&#10;Please remember that these comments are public."></textarea>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
