<h3>Are there any other characteristics that you would use to describe this dataset?</h3>
<div class="field">
  <textarea data-key="miscOther" placeholder="Optional"></textarea>
</div>

<h3>Comments</h3>
<div class="field">
  <p>If you have any additional comments, thoughts, ideas, suggestions, or feedback about this survey please let us know here.</p>
  <textarea data-key="overallComments" id="overallComments" placeholder="Optional."></textarea>
</div>

<h3>Thank you for taking this survey</h3>
<p>Clicking "Submit" will add your responses to our database, in addition to any alternative terms you have suggested in the Glossary.</p>
<div class="buttonContainer">
  <div class="submit button"><a></a><span class="label">Submit</span></div>
</div>
