<div class="field">
  <p>Approximately how many <span class="inspectable">items</span> are in this dataset?</p>
  <div class="likert" data-key="numItems" id="numItems" data-likert="Tens,Hundreds,Thousands,Millions,&ge; Billions"></div>
</div>

<div class="field">
  <p>Approximately how many <span class="inspectable">attributes</span> are in this dataset?</p>
  <div class="likert" data-key="numAttributes" id="numAttributes" data-likert="Tens,Hundreds,Thousands,Millions,&ge; Billions"></div>
</div>

<div class="field">
  <p>Approximately how large is this dataset?</p>
  <div class="likert" data-key="datasetSize" id="datasetSize" data-likert="Kilobytes,Megabytes,Gigabytes,Terabytes,&ge; Petabytes"></div>
</div>

<h3>Would you expect any of the following to exist in the dataset?</h3>
<div class="field">
  <input type="checkbox" data-key="miscDetails" data-flag="Categorical values" id="categorialValues" />
  <label for="categorialValues"><span class="inspectable">Categorical</span> values</label>
</div>
<div class="field">
  <input type="checkbox" data-key="miscDetails" data-flag="Ordinal values" id="ordinalValues" />
  <label for="ordinalValues"><span class="inspectable">Ordinal</span> values</label>
</div>
<div class="field">
  <input type="checkbox" data-key="miscDetails" data-flag="Quantitative values" id="quantitativeValues" />
  <label for="quantitativeValues"><span class="inspectable">Quantitative</span> values</label>
</div>

<h3>Are there any other characteristics that you would use to describe this dataset?</h3>
<div class="field">
  <textarea data-key="miscOther" placeholder="Optional"></textarea>
</div>

<h3>Thank you for taking this survey</h3>
<p>Clicking "Submit" will add your responses to our database, in addition to any alternative terms you have suggested in the Glossary.</p>
<div class="buttonContainer">
  <div class="submit button"><a></a><span class="label">Submit</span></div>
</div>
