<!-- broad data types -->
<div data-inspectable="type of dataset">
  <p>
    These categories are meant to be very broad; if none of them are a good fit
    for your dataset, please let us know with the "None of the above" option.
  </p>
  <p>
    The data types listed here are based on the categories identified by
    Tamara Munzner in:
  </p>
  <p>
    "What: Data Abstraction," in <i>Visualization Analysis & Design.</i> Boca Raton, FL: CRC Press, 2015.
  </p>
</div>

<div data-inspectable="Tables">
  <p>
    Tables include more complex datasets such as multiple linked / relational
    tables or tables with multidimensional, complex, or nested cell
    structures.
  </p>
</div>

<div data-inspectable="Network / Tree">
  <p>
    These include trees with parent / child relationships, multivariate
    networks with node and/or edge attributes, as well as networks
    containing structures such as supernodes or hyperedges.
  </p>
</div>

<div data-inspectable="Field">
  <p>
    Fields include grids with any dimensionality, non-Euclidean coordinate
    systems, and fields with multidimensional attributes, such as
    vector or tensor fields.
  </p>
</div>

<div data-inspectable="Geometry">
  <p>
    Geometry includes points in space, one-dimensional lines or curves, 2D
    surfaces or regions, or 3D volumes.
  </p>
</div>

<div data-inspectable="Clusters / Sets / Lists">
  <p>
    TODO
  </p>
</div>

<div data-inspectable="Categorical">
  <p>TODO</p>
</div>
