<table class="firstTable">
  <thead>
    <tr>
      <td></td>
      <td data-key="exampleTableData" data-role="table1_H_1"></td>
      <td data-key="exampleTableData" data-role="table1_H_2"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-key="exampleTableData" data-role="table1_1_H"></td>
      <td data-key="exampleTableData" data-role="table1_1_1"></td>
      <td data-key="exampleTableData" data-role="table1_1_2"></td>
    </tr>
    <tr>
      <td data-key="exampleTableData" data-role="table1_2_H"></td>
      <td data-key="exampleTableData" data-role="table1_2_1"></td>
      <td data-key="exampleTableData" data-role="table1_2_2"></td>
    </tr>
  </tbody>
</table>
<table class="secondTable">
  <thead>
    <tr>
      <td></td>
      <td data-key="exampleTableData" data-role="table2_H_1"></td>
      <td data-key="exampleTableData" data-role="table2_H_2"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-key="exampleTableData" data-role="table2_1_H"></td>
      <td data-key="exampleTableData" data-role="table2_1_1"></td>
      <td data-key="exampleTableData" data-role="table2_1_2"></td>
    </tr>
    <tr>
      <td data-key="exampleTableData" data-role="table2_2_H"></td>
      <td data-key="exampleTableData" data-role="table2_2_1"></td>
      <td data-key="exampleTableData" data-role="table2_2_2"></td>
    </tr>
  </tbody>
</table>
