<h3>How many tables are in this dataset?</h3>
<div class="field">
  <input type="radio" data-key="${state}NTables" name="nTables" data-flag="1" id="${state}One" />
  <label for="${state}One">1</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}NTables" name="nTables" data-flag="2" id="${state}Two" />
  <label for="${state}Two">2</label>
</div>
<div class="field">
  <input type="radio" data-key="${state}NTables" name="nTables" data-flag="3+" id="${state}Three" />
  <label for="${state}Three">&ge;3</label>
</div>
<h3>Please fill in examples of what the rows / columns might look like. Feel
free to invent fake values.</h3>
<div class="exampleData field">TODO: table form based on no. of tables</div>

<h3>Would you expect any of the following to apply to, or exist in, any table?</h3>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Categorical values" id="${state}CategorialValues" />
  <label for="${state}CategorialValues"><span class="inspectable">Categorical</span> values</label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Quantitative values" id="${state}QuantitativeValues" />
  <label for="${state}QuantitativeValues"><span class="inspectable">Quantitative</span> values</label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Ordinal values" id="${state}OrdinalValues" />
  <label for="${state}OrdinalValues"><span class="inspectable">Ordinal</span> values</label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Multidimensional cells" id="${state}MultidimensionalCells" />
  <label for="${state}MultidimensionalCells"><span class="inspectable">Multidimensional cells</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Nested cell structures" id="${state}NestedCellStructures" />
  <label for="${state}NestedCellStructures"><span class="inspectable">Nested cell structures</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Foreign Keys" id="${state}ForeignKeys" />
  <label for="${state}ForeignKeys"><span class="inspectable">Foreign Keys</span></label>
</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Implicit table relationships" id="${state}implicitTableRelationships" />
  <label for="${state}implicitTableRelationships"><span class="inspectable">Implicit table relationships</span></label>
</div>
<div class="nested field">TODO: if checked, ask for two examples</div>
<div class="field">
  <input type="checkbox" data-key="${state}TableNuances" data-flag="Empty cells" id="${state}EmptyCells" />
  <label for="${state}EmptyCells">Empty cells</label>
</div>
<div class="field">
  <h3>Are there any other characteristics that you would use to describe the table(s) in this dataset?</h3><br />
  <textarea data-key="${state}TableMisc" placeholder="Optional. Please remember that these comments are public."></textarea>
</div>
<div class="buttonContainer">
  <div class="next button"><a></a><span class="label">Next</span></div>
</div>
